[Unit]
Description=Kiosk Client Controller
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/client/client_main.py
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/client

[Install]
WantedBy=multi-user.target
